<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ baseUrl }}/css/screen.css" type="text/css"/>
    <link rel="stylesheet" href="{{ baseUrl }}/css/theme.css" type="text/css"/>
    <link rel="stylesheet" href="{{ baseUrl }}/css/theme-fixes.css" type="text/css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
    <link href="{{ baseUrl }}/dist/jquery.contextMenu.css" rel="stylesheet" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ baseUrl }}/dist/jquery.contextMenu.js" type="text/javascript"></script>

    <script src="{{ baseUrl }}/dist/jquery.ui.position.min.js" type="text/javascript"></script>

    <script src="{{ baseUrl }}/js/main.js" type="text/javascript"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-66438984-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>
<body class="wy-body-for-nav">

<div class="wy-grid-for-nav">



    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-nav-search">
            <a href="{{ baseUrl }}/"> {{ title|default('The title') }}</a>
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
            <ul>
                {% for itemId, item in menu.items %}
                    <li class="toctree-l1 {{ itemId == currentMenu or ( item.items is defined and currentMenu in item.items|keys ) ? 'current' }}">
                        <a class="reference internal {{ itemId == currentMenu ? 'current' }}"
                           href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                            {{ item.text|raw }}
                        </a>
                        {% if item.items is defined %}
                            <ul>
                                {% for subItemId, subItem in item.items %}
                                    <li class="toctree-l2 {{ subItemId == currentMenu ? 'current' }}">
                                        <a class="reference internal {{ subItemId == currentMenu ? 'current' }}"
                                           href="{{ subItem.absoluteUrl|default(baseUrl ~ '/' ~ subItem.relativeUrl) }}">
                                            {{ subItem.text|raw }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <div class="swis-branding">
                <span>Maintained by:</span>
                <a href="https://www.swis.nl"><img src="{{ baseUrl }}/images/swis-logo.jpg" class="swis-logo">Creative Digital Agency</a>
            </div>
        </div>
        &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

        {# MOBILE NAV, TRIGGLES SIDE NAV ON TOGGLE #}
        <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
            <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
            <a href="{{ baseUrl }}/">{{ title|default('The title') }}</a>
        </nav>


        {# PAGE CONTENT #}
        <div class="wy-nav-content">
            <div class="rst-content">
                <div role="main" class="document">
                    {#<a href="https://github.com/swisnl/jQuery-contextMenu" class="edit-on-github maintained-by-swis fa fa-home"> Maintained by SWIS</a>#}
                    <a href="https://github.com/swisnl/jQuery-contextMenu" class="edit-on-github fa fa-github"> Fork on GitHub</a>
                    {{ content|raw }}
                </div>

                <footer>
                    <hr/>
                    {% if not github is empty %}
                        <div role="contentinfo">
                            <p>
                                Find {{ title }} on <a href="https://github.com/{{ github.user }}/{{ github.repo }}">GitHub</a>.
                            </p>
                        </div>
                    {% endif %}
                </footer>

            </div>
        </div>

    </section>

</div>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script src="{{ baseUrl }}/js/theme.js"></script>

<script>
    $(function() {
        hljs.configure({
            tabReplace: '    ', // 4 spaces
        });
        hljs.initHighlightingOnLoad();
    });
</script>

</body>
</html>
